body{
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: #fff;
  padding: 3% 20%;
}
.container-fluid {
  padding: 5% 15%;
}

h1 {  font-family: 'Montserrat-black';  font-size: 3rem;  line-height: 1.5;  font-weight: 900;}
h2{
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;
}
h3{
  font-family: "Montserrat-Bold";
}


.navbar{
  padding:0 0 4.5rem;
}
.navbar-brand{
  font-family: "Ubuntu";
}

.nav-item{
  padding: 0 18px;
}

.title-image{
  width: 13%;
  transform: rotate(25deg);
  position: absolute;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat";
}



#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

p {
  color: #8f8f8f;
}
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68
}

#testimonials {
  padding: 7% 15%;
  text-align: centre;
  background-color: #ef8172;
  color: #fff;
}

.testimonials-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column{
  padding: 3% 2%;
}
@media (max-width: 1028px) {
.title-image {
  position: static;
  transform: rotate(0);
  width: 70%;
  padding-top: 5%;
}
#title {
  text-align: center;
}
}

#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 10% 10%;
  font-family: "Montserrat-black";
  color: #fff;
}
.cust-cta {
  padding: 30px;
}

#footer {
  padding: 5% 5%;
  text-align: center;
  font-size: 0.75rem;
}

.cust-ico {
  padding: 5px;
}
